body,html {
  /* background-color: #E0E0E0 !important; */
  background-color:   #bbbbbb !important; 
  /* rgb(230, 241, 255); */
  /* white; */
  /* #bbbbbb !important; */
}
.tag{
  background-color:  rgb(230, 241, 255)  !important;
  color:#121212 !important;
}
.center-image {
  justify-content: center;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.ex-links {
  text-align: center !important;
}



.project-link{
  text-decoration: none;
  color: rgb(230, 241, 255);
  transition: 0.3s;

}
.project-link:hover{
  /* text-decoration: none; */
  /* color: rgb(136, 146, 176); */
  color:white;
}
a {
  text-decoration: none;
  color: rgb(136, 146, 176);
  transition: 0.3s;
}

a:hover {
  color: white;
}

.resume-title a {
  text-decoration: none;
  /* color: white; */

  /* color:white !important; */
}

.shadow {
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);
  /* -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 55%); */
  /* -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55); */
  /* box-shadow: 0px 3px 15px rgb(0 0 0 / 20%); */
}
.footer-item{
  /* background-color: #121212; */
  color:#121212;

}
.sidebar {
  /* background-color: rgb(23, 42, 69); */
  /* background-color:#212121; */
  background-color: #121212;
  /* background-color:#; */

  /* background-color:#424242; */

  display: flex;
  /* align-items: center; */
  flex-direction: column;
  border-radius: 7px;
  color: rgb(136, 146, 176);
  opacity: 1;
}
.name-title {
  font-weight: 600;
  color: rgb(230, 241, 255);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #979797;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #121212;
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #303030;
}
